html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.wrapper {
    width: 1240px;
    display: flex;
    margin: 0 auto;
    
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 16%;
    background-color: rgba(14, 134, 143, 0.4);
    padding: 5px ;
}

.menu ul{
    margin-top: 10px;
    padding: 0;
}

.menu li{
    margin-top: 30px;
    list-style: none;
}
.menu a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 800;
}

.container{
    display:flex;
    margin: 0 auto;
    width: 200px;
    background-size: cover;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgba(0,0,0,.50),
    rgba(0,0,0,.50)100%), url("/img/header-nat.jpg");
    background-size: cover ;
    min-height: 250px;
}

.header h1{
    font-size: 60px;
    margin: 5px;
    color: rgb(39, 168, 162);
    text-transform: capitalize;
}

.header p {
    font-size: 36px;
    color: white;
    text-transform: capitalize;
}
.header span{
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
    color: white;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(223, 223, 223);
    min-height: 300px;
    padding: 10px;
}

.content h1{
    font-size: 32px;
}

.content form{
    width: 310px;
    padding: 5px;
}


.contact-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 280px;
    
}

.contact-info h2 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 35px;
    text-decoration: none;
}
.contact-info a{
    text-decoration: none;
    color: black;
}

.contact-form{
    display: flex;
    flex-direction: column;
    max-width: 310px;

}

.form{
    display: grid;
    grid-template-columns: auto;
}
.contact-form input{
    border: none;
}
.contact-form textarea{
    max-height: 130px;
    border: none;
}

.content iframe{
    max-width: 310px;
    border: 1px solid #000;
} 
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 30px;
}
.buttons button{
    width: 60px;
    border: none;
    background-color: #FFF;
}



.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    justify-content: space-around;
    background-color: rgb(0, 0, 20);
    min-height: 150px;
}
